li {
   font-size: 2rem;
   margin: 1rem;
   width: 200px;
   height: 200px;
   border-radius: 5px;
}
.Grains {
   background: palegoldenrod;
}
.Veggie {
   background: lightgreen;
}
.Fruit {
   background:rebeccapurple;
}
.Meat {
   background: tomato;
}
.Dairy {
   background: lightblue;
}
.Freezer {
   background: cadetblue;
}
.Other {
   background: grey;
}
