article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: mintcream;
  max-width: 1280px;
  margin: 0 auto; }

body, h1, h2, h3, p, li, ul {
  padding: 0;
  margin: 0; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

li {
  list-style-type: none; }

h3 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: 'Fjalla One', sans-serif; }

a {
  font-size: 2rem;
  text-decoration: none;
  color: darkslategray;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px white; }
  @media (min-width: 1280px) {
    a {
      font-size: 2rem;
      cursor: pointer; } }
  @media (max-width: 650px) {
    a {
      font-size: 1.5rem; } }
  @media (max-width: 650px) {
    a {
      font-size: 1.2rem; } }
  @media (max-width: 506px) {
    a {
      font-size: 1rem;
      padding: 1rem; } }

header {
  height: 100vh;
  position: relative; }
  @media (min-width: 1280px) {
    header {
      background: url(../../assets/mike-dornerBanana.jpg) center fixed;
      background-size: cover; } }
  @media (max-width: 1280px) {
    header {
      background: url(../../assets/mike-dornerBanana.jpg) center fixed;
      background-size: cover; } }
  @media (max-width: 506px) {
    header {
      background: url(../../assets/tim-foster-Banana.jpg) no-repeat fixed;
      background-size: cover; } }
  header h1 {
    position: absolute;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #1689a7;
    padding: 2rem 0 0 2rem;
    font-size: 8rem;
    top: 18%; }
    @media (max-width: 506px) {
      header h1 {
        font-size: 3rem;
        top: 10%; } }

nav {
  margin: 0 auto;
  width: 95%; }
  @media (max-width: 650px) {
    nav {
      width: 100%; } }
  nav .navContainer {
    width: 100%;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end; }
    nav .navContainer .navLink {
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30rem;
      height: 4rem;
      margin: 1rem;
      background: lightseagreen;
      border-radius: 5px;
      box-shadow: 1px 1px 2px darkslategray; }
      nav .navContainer .navLink:hover {
        background: #fae126; }
      @media (min-width: 1280px) {
        nav .navContainer .navLink {
          width: 30rem; } }
      @media (max-width: 1280px) {
        nav .navContainer .navLink {
          width: 30rem;
          font-size: 1.2rem; } }
      @media (max-width: 900px) {
        nav .navContainer .navLink {
          width: 31rem;
          font-size: 1.1rem; } }
      @media (max-width: 850px) {
        nav .navContainer .navLink {
          width: 30rem; } }
      @media (max-width: 650px) {
        nav .navContainer .navLink {
          width: 30rem; } }
      @media (max-width: 650px) {
        nav .navContainer .navLink {
          width: 30rem; } }
      @media (max-width: 650px) {
        nav .navContainer .navLink {
          width: 25rem;
          height: 5rem;
          margin: 2px; } }
    nav .navContainer .navLink.left {
      left: 1rem; }
    nav .navContainer .navLink.right {
      right: 1rem; }
      nav .navContainer .navLink.right .hidden {
        display: none; }

.display {
  padding: 6rem 0;
  position: relative; }
  .display .toBuyList {
    background: lightgrey;
    padding: 2rem;
    text-transform: capitalize; }
